* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #161b22;
    color: #ecf2f8;
    font-family: 'Roboto', Helvetica;
}
p {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 26px;
}
hr {
    height: 1px; 
    border: none;
    background-color: lightgray;
    opacity: 30%; 
}

/* START header style */
header, main{
    margin: 4em auto;
    width: 800px;
}
header h6, h1 {
    margin-bottom: 15px;
    word-spacing: 1px;
    font-weight: 400;
}
header h6 {
    font-size: 1.2rem;
    margin-bottom: 50px;
    font-weight: 400;
}
header .name {
    font-weight: 600;
    line-height: 20px;
}
header h1 {
    font-size: 3rem;
    font-weight: 600;
}
#profile {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #ecf2f8;
}
.profile-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
header small {
    margin: 4px 0 0 15px;
}

/* END header style */

/* START main style */

.quote-container {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 6px;
    width: 100%;
    height: fit-content;
    margin-bottom: 25px;

}
.quote-container h2 {
    font-size: 5.4em;
    font-weight: 700;
}

.quote-container .author {
    font-size: 4.5em;
    margin-top: 30px;
    font-weight: 600;
}
.quote-container .book {
    font-size: 4.5em;
    font-weight: 500;
}

.html {
    margin-top: 30px;
}
.html h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.html h6 {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    margin-bottom: 40px;
    font-weight: 400;
}
.html .link-list {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid  rgba(253, 249, 249, 0.2);
    padding: 10px 10px 10px 35px;
    border-radius: 6px;
    margin-left: 5px;
}
.html .link-list li a {
    font-weight: 600;
    color: #7dbbe6;
    text-decoration: none;
}
.html .link-list li a:hover {
    text-decoration: underline;
}
.html .link-list li p {
    margin-bottom: 5px;
}
.html .link-list li::marker {
    font-size: 2em;
}
.html .link-list li {
    list-style: square;
}

.bold {
    font-weight: bold;
}
.css {
    margin-top: 20px;
}
.css h2 {
    font-size: 2em;
}

