* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #161b22;
    color: #ecf2f8;
    font-family: 'Roboto', Helvetica;
}

/* END header style */

header, main{
    margin: 4em auto;
    width: 900px;
}
header h6, h1 {
    margin-bottom: 15px;
    word-spacing: 1px;
    font-size: 1.25rem;
    font-weight: 400;
}
header h6 {
    font-size: 1.5rem;
    margin-bottom: 50px;
    font-weight: 300;
}
header .name {
    font-weight: 600;
    line-height: 20px;
}
hr {
    color: grey;
}
p {
    margin-bottom: 20px;
    font-weight: 350;
    font-size: 1.2em;
    line-height: 26px;
}
h1 {
    font-size: 4.5rem;
    font-weight: 600;
}
#profile {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #ecf2f8;
}
.profile-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
header small {
    margin: 4px 0 0 15px;
}
 hr {
    height: 1px; 
    border: none;
    background-color: lightgray;
    opacity: 30%; 
}

/* END header style */

/* START main style */

.quote-container {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 6px;
    width: 100%;
    height: fit-content;
    margin-bottom: 25px;

}
.quote-container h2 {
    font-size: 5.5em;
    font-weight: 700;
}

.quote-container .author {
    font-size: 4.5em;
    margin-top: 30px;
    font-weight: 600;
}
.quote-container .book {
    font-size: 4.5em;
    font-weight: 500;
}

.html {
    margin-top: 30px;
}
.html h2 {
    font-size: 3em;
}

